/*....Overall Style....*/
body, a {
  font-family: 'Montserrat', sans-serif;
  color: #4C4231;
}

a, .slick-dots li button {
  cursor: crosshair;
}

h1 {
  text-align: center;
  margin: 20px 0 20px 0;
}
.container {
  padding-top: 2%;
}
.row {
  padding: inherit;
}

/*....Header & Nav....*/
.header {
  background: url("../img/hawaii.jpg") no-repeat center center;
  background-position: top;
  background-size: 100%;
  text-align: center;
  height: 600px;
}

.header .nav-link:hover {
  border: solid #EFE7DE 2px;
}

.jumbotron {
  background: transparent;
  padding-top: 0;
}

.btn-info {
  background: transparent;
  border: transparent;
}

.btn-info:hover {
  border: solid #EFE7DE 2px;
  background: transparent;
}

.btn-info a {
  color: #4C4231;
}

.btn-info a:hover {
  color: #7D6252;
  text-decoration: none;
}

.nav-item {
  margin: 2%;
}


/*....About Me Section....*/
#AboutMe {
  padding-top: 2%;
}

.my-photos img {
  height: 150px;
  border: solid #B1AFBC 5px;
  border-radius: 50%;
}

.my-photos {
  margin: 0 auto;
}

/*....Skills....*/

.skills-icon img {
  height: 75px;
  display: inline-block;

}

.skills-icon {
  margin: 0 auto;
  display: block;
}

/*...Map...*/
/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {
 	position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

/* Legend Position Style */
.legend {
	position:absolute;
	left:800px;
	top:1300px;
}

/*....Projects...*/
.slider-image {
  margin-bottom: 5%;
}
.slider-for {
  width: 50%;
  margin: 0 auto;
}
.slider-for img {
  width: 450px;
  border: solid #F2F2F2 2px;
}

.slider-nav {
  width: 75%;
  margin: 0 auto;
}

.slider-nav img {
  width: 200px;
  cursor: crosshair;
}

.slick-prev:before {
  color: #4C4231;
  cursor: crosshair;
}

.slick-next:before {
  color: #4C4231;
  cursor: crosshair;
}

/*....experience...*/
#Experience {
  line-height: 16px;
}

#Experience .col-md-6 {
  text-align: center;
}
.school-logo {
  height: 105px;
  padding-right: 2%;
  margin-bottom: 2%;
}
/*....footer...*/
#Contact {
  background-color: #EFE7DE;
  height: 75px;
}

#Contact .row {
  text-align: center;
}
.social-media img {
  height: 30px;
}

.social-media a {
  text-align: right;
}

.social-media {
  margin-left: 75%;
}


/*...Media Queries.....*/

@media (max-width: 375px) {
  .header {
    height: 300px;
    color: #EFE7DE;
  }
  .my-photos img {
    height: 90px;
  }
  #Skills .row {
    margin: 0 auto;
  }
  .skills-icon img {
    height: 100px;
  }
  .slider-for img {
    width: 125%;
  }
  .slider-nav {
    width: 75%;
  }
  .slider-nav img {
    width: 75%;
  }
  .social-media {
    margin: 0;
  }
  #Contact {
    height: 100px;
  }
}
