body {
  font-family: 'Montserrat', sans-serif;
  color: #4C4231;
}

.row {
  padding: inherit;
}

.header {
  background: url("../img/hawaii.jpg") no-repeat center center;
  background-position: top;
  background-size: 100%;
  text-align: center;
  height: 600px;
}

.nav-link:hover {
  border: solid #E0CEBC 2px;
}

.jumbotron {
  background: transparent;
  margin-top:10%;
}

.btn-info {
  background: transparent;
  border: transparent;
}

.btn-info:hover {
  border: solid #E0CEBC 2px;
  background: transparent;
}

.btn-info a {
  color: #4C4231;
}

.btn-info a:hover {
  color: #7D6252;
  text-decoration: none;
}

.green {
  color: #528A7E;
}

.Handlee {
  font-family: 'Handlee', cursive;
  font-size: 14px;
  color: #8a5263;
  font-style: italic;
}

strong {
  color: #528A7E;
}

/*....About Me Section....*/
#AboutMe {
  padding-top: 2%;
}
.social-media img {
  height: 60px;
  padding: 1%;
}
.social-media {
  width: 20%;
  margin: 0 auto;
}

.my-photos img {
  height: 150px;
  border: solid #E0CEBC 5px;
  border-radius: 50%;
  margin: 1%;
}

.my-photos {
  width: 49%;
  margin: 0 auto;
}

/*...Map...*/
.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
}

#states .active {
  fill: orange;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
.slider-for {
  margin: 0 auto;
  width: 15%;
}
.slider-nav {
  width: 75%;
  margin: 0 auto;
}
.slider-nav img, .slider-for img {
  width: 150px;
  border: solid #E0CEBC 5px;
  border-radius: 50%;
  margin: 1%;
}

.slick-prev:before {
  color: #4C4231;
}
.slick-next:before {
  color: #4C4231;
}
